# ========================
# Rust
# ========================
/target/
Cargo.lock

# ========================
# Generated C output
# ========================
out.c

# ========================
# Generated executables
# ========================
*.exe
*.dll
*.obj

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Logs
# ========================
*.log
